.dialog-form {
    display: flex;
    flex-direction: column;
}

.mdc-dialog__title {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.token-list-item {
    span {
        display: block;
    }

    label {
        font-weight: bold;
        margin-right: 6px;
    }
    > div.prop {
        display: flex;
    }

    border-top: 3px solid #000;
    margin-bottom: 25px;

    .merge-function {
        border-bottom: 1px solid black;
    }
}
