<mat-dialog-content>
  <div>
    <mat-form-field>
      <mat-label>Factor to scale label offset for places</mat-label>
      <input
        type="number"
        [min]="0"
        matInput
        [(ngModel)]="placeLabelOffsetFactor"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Distance to shift transition labels upward</mat-label>
      <input
        type="number"
        [min]="0"
        matInput
        [(ngModel)]="transitionLabelVerticalOffset"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Scale factor</mat-label>
      <input type="number" [min]="0" matInput [(ngModel)]="lengthScaleFactor" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Place radius</mat-label>
      <input type="number" [min]="0" matInput [(ngModel)]="fixedPlaceRadius" />
    </mat-form-field>
  </div>
  <div>Tex result:</div>
  <textarea matInput readonly [ngModel]="texOutput"></textarea>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-flat-button color="primary" (click)="generateTex()">
    Generate
  </button>
  <button mat-button mat-flat-button color="primary" mat-dialog-close>
    Close
  </button>
</mat-dialog-actions>
